.home-container {
    width: 80%;
    margin: 0 auto;

    .user-input-container {
        width: 100%;
        height: 20vh;
    }

    .user-profile-container {
        width: 100%;
        height: 20vh;
    }

    .user-contributions-container {
        width: 100%;
        height: 60vh;
    }
}